<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.nonstop.mapper.AuthMapper">

    <select id="findByEmail" resultType="com.app.nonstop.domain.user.entity.User">
        SELECT *
        FROM users
        WHERE email = #{email}
          AND deleted_at IS NULL
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM users
                       WHERE email = #{email}
                         AND deleted_at IS NULL
                   )
    </select>

    <select id="existsByNickname" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM users
                       WHERE nickname = #{nickname}
                         AND deleted_at IS NULL
                   )
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email, password, nickname, auth_provider, user_role, is_active, is_verified, email_verified, email_verified_at, birth_date, university_id, major_id)
        VALUES (#{email}, #{password}, #{nickname}, #{authProvider}::auth_provider, 'USER'::user_role, true, false, #{emailVerified}, #{emailVerifiedAt}, #{birthDate}, #{universityId}, #{majorId})
    </insert>

    <update id="updateEmailVerified">
        UPDATE users
        SET email_verified = #{emailVerified},
            email_verified_at = #{emailVerifiedAt},
            updated_at = now()
        WHERE id = #{userId}
          AND deleted_at IS NULL
    </update>

    <update id="updateBirthDate">
        UPDATE users
        SET birth_date = #{birthDate},
            updated_at = now()
        WHERE id = #{userId}
          AND deleted_at IS NULL
    </update>

    <delete id="deleteUnverifiedUsersBefore">
        DELETE FROM users
        WHERE email_verified = false
          AND created_at &lt; #{threshold}
          AND auth_provider = 'EMAIL'
    </delete>

</mapper>
